.accordion-wrapper {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	.accordion__panel {
	    padding: 0;
	    li {
	    	list-style-type: none;
	    	border-bottom: 1px solid $mainColor;
			border-right: 1px solid $mainColor;
			border-left: 1px solid $mainColor;
			margin-bottom: 10px;
	    }
	    button {
	    	background: $mainColor;
	    	color: $white;
	    	font-size: 16px;
	    	display: block;
	    	width: 100%;
	    	text-align: left;
	    	cursor: pointer;
	    	padding: 10px 8px;;
	    	border: none;
	    	transition: all .3s ease-out;
	    }
	    .content {
	    	display: none;
	    	list-style-type: none;
	    	padding: 0 10px;
	    	transition: all .3s ease-out;
			
	    	p {
		    	color: #111;
		    }
	    }
	}
}